* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  background-image: url(./assets/background.jpg);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: rgba(40, 44, 52, 0.7);
  border: 2px solid rgb(142, 201, 201);
  border-radius: 7px;
  display: flex;
}

.aboutContainer {
  width: 65vw;
  height: 65vh;
  margin-top: 5vh;
}

.profilePictureSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 60%;
}

.profilePicture {
  height: 250px;
}

.infoSection {
  width: 70%;
  padding-top: 50px;
  padding-right: 20px;
}

.text {
  color: rgb(142, 201, 201);
}

.linkSection {
  display: flex;
  margin-top: 50px;
  width: 65vw;
  justify-content: space-between;
}

.linkContainer {
  height: 170px;
  width: 170px;
  padding: 20px;
}
